{% extends "base.html" %}


<html >
<!-- Head -->

   {% block title %}Home|Ach-Phix{% endblock %}


<!-- Body -->
{% block content %}
<!-- banner -->
	<nav class="w3-navbar">
					<div class="container">
						<div class="nav-top">
						
							  <!-- Logo -->
								  <div class="logo">
								  <a href="#home">
									Philemon <span>Acheampong</span>
								  </a>
							  </div>
							  <!-- Logo -->
							<div class="right">
								<div class="w3-socials">
									<ul>
										<li>
											<a href="https://github.com/philacher95" target="blank"><span class="fa fa-github"></span></a>
										</li>
										<li>
											<a href="https://www.instagram.com" target="blank"><span class="fa fa-instagram"></span></a>
										</li>
										<li>
											<a href="http://facebook.com" target="blank"><span class="fa fa-facebook"></span></a>
										</li>
										<li>
											<a href="https://twitter.com/" target="blank"><span class="fa fa-twitter"></span></a>
										</li>
									</ul>
								</div>
								<div class="clearfix"></div>
							</div>
						</div>
						
					</div> <!-- end container -->
				
	</nav>
	
<div class="w3l-banner">
<div class="wthree-dot">

	<!-- nav -->
	<div class="w3layouts-nav-right">
		<div class="fat-nav">
			<div class="fat-nav__wrapper">
				<ul>
					<li><a href="#home" class="scroll active">Home</a></li>
					<li><a href="#about" class="scroll">About Me</a></li>
					<li><a href="#services"  class="scroll" >My Services</a></li>
					<li><a href="#skills"  class="scroll" >My Skills</a></li>
					<li><a href="#gallery"  class="scroll" >My projects</a></li>
					<li><a href="#stats"  class="scroll" >Stats</a></li>
					<li><a href="#experience"  class="scroll" >Work Experience</a></li>
					<li><a href="#contact"  class="scroll" >Contact</a></li>
				</ul>
			</div>
		</div>
	</div>
	<!-- //nav -->
	
		<!-- //Header -->
		<div class="container">
			<div class="flexslider-info">
				<section class="slider col-md-6">
					<div class="flexslider">
						<ul class="slides">
							<li>
							<div class="w3l-info">
								<h1>hi I'm <span>PHILEMON</span></h1>
								<p>Acheampong Philemon is my name, and i am happy to see you here :).. Read more about me here. </p>
								<ul>
									<li><a href="#" class="w3ls_more" >Hire Me</a></li>
									<li><a href="#contact" class="scroll w3l_contact">Contact Me</a></li>
								</ul>
							</div>
							</li>
							<li>
								<div class="w3l-info">
								<h2>this is my <span>website</span></h2>
								<p>HELLO!, Bonjour!, 你好 Ni hǎo!...... I am very happy to see you here. If you want any information about me, view them below or contact me. </p>
								<ul>
									<li><a href="#" class="w3ls_more" >Hire Me</a></li>
									<li><a href="#contact" class="scroll w3l_contact">Contact Me</a></li>
								</ul>
								</div>
							</li>
							<li>
								<div class="w3l-info">
								<h3>I'm a <span>computer engineer</span></h3>
								<p>I am a Computer Engineer and a web developer. My fields are computer hardware and networking also i develop with Python, JavaScript and HTML5/CSS. View my Skills and Services below. </p>
								<ul>
									<li><a href="#" class="w3ls_more">Hire Me</a></li>
									<li><a href="#contact" class="scroll w3l_contact">Contact Me</a></li>
								</ul>
								</div>
							</li>
						</ul>
					</div>
				</section>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</div>
<!-- //banner -->

<!-- About section -->
<div class="about" id="about">
	<div class="container">
		<h3 class="text-center">About Me</h3>
		
		<div class="col-md-5 about_left">
							<ul class="address">
								<li>
									<ul class="agileits-address-text ">
										<li><b>Name</b></li>
										<li>Acheampong Philemon</li>
									</ul>
								</li>
								<li>
									<ul class="agileits-address-text ">
										<li><b>D.O.B</b></li>
										<li>21-06-1995</li>
									</ul>
								</li>
								<li>
									<ul class="agileits-address-text">
										<li><b>PHONE</b></li>
										<li>(+233)27-279-0174 / (+233)20-081-2752</li>
									</ul>
								</li>
								<li>
									<ul class="agileits-address-text">
										<li><b>JOB</b></li>
										<li>Computer engineer & Web Developer</li>
									</ul>
								</li>
								<li>
									<ul class="agileits-address-text">
										<li><b>EXPERIENCE</b></li>
										<li>+3 Years</li>
									</ul>
								</li>
								<li>
									<ul class="agileits-address-text">
										<li><b>ADDRESS </b></li>
										<li>Box LT 80, Laterbiokorshie, Accra-Ghana</li>
									</ul>
								</li>
								<li>
									<ul class="agileits-address-text">
										<li><b>E-MAIL </b></li>
										<li><a href="mailto:example@mail.com"> gphileto@gmail.com</a></li>
									</ul>
								</li>
								<li>
									<ul class="agileits-address-text">
										<li><b>WEBSITE </b></li>
										<li><a href="#">You are here</a></li>
									</ul>
								</li>
							</ul>
							<div class="w3-socials about-social">
									<ul>
										<li>
											<a href="https://github.com/philacher95" target="blank"><span class="fa fa-github"></span></a>
										</li>
										<li>
											<a href="http://gmail.com" target="blank"><span class="fa fa-google"></span></a>
										</li>
										<li>
											<a href="https://instagram.com" target="blank"><span class="fa fa-instagram"></span></a>
										</li>
										<li>
											<a href="https://twitter.com" target="blank"><span class="fa fa-twitter"></span></a>
										</li>
										<li>
											<a href="https://facebook.com" target="blank"><span class="fa fa-facebook"></span></a>
										</li>
									</ul>
								</div>
		</div>
		<div class="col-md-7 about_right">
			<h3>Hi, I am Acheampong Philemon</h3>
			<h4>Computer Engineer & Web Developer : +3 years in computer hardware and networking / +1 years of coding experience</h4>
			<p>I am an energetic, ambitious person who has developed a mature and responsible approach to any task that I undertake, or situation that I am presented with.
                I love working together with a united team and my main aim is to complete any task given to me successfully on time and also do my part to promote
                any institution I find myself into the highest. </p>
			<p>I studied Computer System Engineering at IPMC I.T Training College. I specialized in CompTIA Aplus and Nplus. Later I Learned Python
            Programming language and other programming Languages like JavaScript, Bootstrap, Html, CSS etc. I have done projects in all these three fields
            of I.C.T, Hardware and System Software Solutions, Network Installation Projects and Web App Projects.</p>
			<ul>
				<li><a href="#contact" class="w3ls_more scroll" >Hire Me</a></li>
				<li><a href="#contact" class="w3l scroll">Contact Me</a></li>
			</ul>
		</div>
		<div class="clearfix"></div>
		
	</div>
</div>
<!-- //About section -->

<!-- /services -->
<div class="w3-services" id="services">
	<div class="container">
			<div class="w3-services-grids">
						<h3 class="text-center">My Services</h3>
				<div class="col-md-4 w3-services-left-grid">
					<h4>Ach-Phix I.T Solutions</h4>
					<p> I am always open to Clients. If you have any problem relating to any of my services, want to make any en-quarry about my services or want to Hire me,
						you can connect me via my mobile numbers, social media platforms or send me a mail.
					<div class="more">
						<a href="#contact">Know more</a>
					</div>
				</div>
				<div class="col-md-8 w3-services-right-grid">
				<div class="w3-icon-grid-gap1">
					<div class="col-md-4 w3-icon-grid1">
						
						<h3 style="color: #00FFFF;">Web design</h3>
						<div class="clearfix"></div>
						<p>I develop website for businesses and individual clients etc..  <em style="color: #339933;">Market yourself or business on-line.</em></p>
					</div>
					<div class="col-md-4 w3-icon-grid1">
						
						<h3 style="color: #00FFFF;">Computer Networking</h3>
						<div class="clearfix"></div>
						<p>I install computer networks for schools and small businesses.</p>
					</div>
					<div class="col-md-4 w3-icon-grid1">
						
						<h3 style="color: #00FFFF;">Computer System softwares and Hardware</h3>
						<div class="clearfix"></div>
						<p>I install any version of windows software and solve almost any critical issues on the windows operating system. Also fixing of 
						 Computer hardware problems</p>
					</div>
					<div class="clearfix"></div>
					</div>
					<div class="w3-icon-grid-gap2">
					<div class="col-md-4 w3-icon-grid1">
						
						<h3 style="color: #00FFFF;">Point of Sales (POS)</h3>
						<div class="clearfix"></div>
						<p>I install POS selling facilities for super markets and Pharmacies etc.. .</p>
					</div>
					<div class="col-md-4 w3-icon-grid1">
						
						<h3 style="color: #00FFFF;">Sales</h3>
						<div class="clearfix"></div>
						<p>I make good deals with my clients. Selling of Laptop and Desktop computers, Accessories and parts</p>
					</div>
					<div class="col-md-4 w3-icon-grid1">
						
						<h3 style="color: #00FFFF;">I.T Training</h3>
						<div class="clearfix"></div>
						<p>I train students and interested individuals and groups for the following I.T Programs; Computer Hardware and Networking and Computer Software .</p>
					</div>
					<div class="clearfix"></div>
					</div>
				</div>
				<div class="clearfix"></div>
		</div>
	</div>
</div>
<!-- //services -->

<!--skills -->
<div class="skills-agileinfo" id="skills">
	<div class="container">
		<h3 class="text-center">My skills</h3>
				<div class="modal-spa">
					<div class="skills"> 
						<div class="col-md-6 bar-grids bargrids-left">
							<h4> Technical Skills </h4>
							<p>I have acquired great skills in the field of I.C.T. I studied Computer Engineering at IPMC and also
                            learned Coding as a Self-taught course. Below is the rating for my skills :</p>
							<h6>web development  <span> 75% </span></h6>
							<div class="progress">
								<div class="progress-bar progress-bar-striped active" style="width: 75%">
								</div>
							</div>
							<h6>Computer Hardware and Networking <span> 90% </span></h6>
							<div class="progress  w3-agile">
								<div class="progress-bar progress-bar-striped active" style="width: 90%">
								</div>
							</div>
							<h6>Python<span>80% </span></h6>
							<div class="progress  w3-agile">
								<div class="progress-bar progress-bar-striped active" style="width: 80%">
								</div>
							</div>
							<h6>JavaScript and HTML/CSS <span> 75% </span></h6>
							<div class="progress  w3-agile prgs-w3agile-last">
								<div class="progress-bar progress-bar-striped active" style="width: 75%">
								</div>
							</div>
						</div> 
						<div class="col-md-6 bar-grids  w3-agile">
							<h4> My Hobbies </h4>
							<p>I have many other things i love doing, but these are my favorites :</p>
							<div class="col-md-4 hobbies-grid1 grid1">
								<span class="fa fa-codepen"></span>
								<h5>Coding</h5>
							</div>
							<div class="col-md-4 hobbies-grid1 grid2">
								<span class="fa fa-hourglass"></span>
								<h5>Research</h5>
							</div>
							<div class="col-md-4 hobbies-grid1 grid3">
								<span class="fa fa-camera"></span>
								<h5>Photography</h5>
							</div>
							<div class="clearfix"></div>


							<div class="col-md-4 hobbies-grid1 grid5">
								<span class="fa fa-headphones"></span>
								<h5>Music</h5>
							</div>
							<div class="col-md-4 hobbies-grid1 grid6">
								<span class="fa fa-tint"></span>
								<h5>Thinking</h5>
							</div>
							<div class="clearfix"></div>
							
						</div>
						<div class="clearfix"> </div>	
					</div>
				</div> 
		</div> 
</div> 
<!-- //skills -->

<!--gallery-->
	<div class="gallery" id="gallery">
		<div class="container">
		<div class="about-head text-center ">
		<h3 class="text-center">My Projects</h3>
		</div>	
			<div class="gallery-info">
				<div class="col-md-3 gallery-grids">
					<a href="static/images/lab.jpg" class="gallery-box" data-lightbox="example-set" data-title="">
						<img src="static/images/lab.jpg" alt="" class="img-responsive zoom-img">
					</a>
				</div>
				<div class="col-md-3 gallery-grids">
					<a href="static/images/h2.jpg" class="gallery-box" data-lightbox="example-set" data-title="">
						<img src="static/images/h2.jpg" alt="" class="img-responsive zoom-img">
					</a>
				</div>
				<div class="col-md-3 gallery-grids">
					<a href="static/images/h3.jpg" class="gallery-box" data-lightbox="example-set" data-title="">
						<img src="static/images/h3.jpg" alt="" class="img-responsive zoom-img">
					</a>
				</div>
				<div class="col-md-3 gallery-grids">
					<a href="static/images/h4.jpg" class="gallery-box" data-lightbox="example-set" data-title="">
						<img src="static/images/h4.jpg" alt="" class="img-responsive zoom-img">
					</a>
				</div>
				<div class="col-md-3 gallery-grids">
					<a href="static/images/h1.jpg" class="gallery-box" data-lightbox="example-set" data-title="">
						<img src="static/images/h1.jpg" alt="" class="img-responsive zoom-img">
					</a>
				</div>
				<div class="col-md-3 gallery-grids">
					<a href="static/images/w1.png" class="gallery-box" data-lightbox="example-set" data-title="">
						<img src="static/images/w1.png" alt="" class="img-responsive zoom-img">
					</a>
				</div>
				<div class="col-md-3 gallery-grids">
					<a href="static/images/w2.png" class="gallery-box" data-lightbox="example-set" data-title="">
						<img src="static/images/w2.png" alt="" class="img-responsive zoom-img">
					</a>
				</div>
				<div class="col-md-3 gallery-grids">
					<a href="static/images/pos.jpg" class="gallery-box" data-lightbox="example-set" data-title="">
						<img src="static/images/pos.jpg" alt="" class="img-responsive zoom-img">
					</a>
				</div>
				<div class="col-md-3 gallery-grids">
					<a href="static/images/t1.jpeg" class="gallery-box" data-lightbox="example-set" data-title="">
						<img src="static/images/t1.jpeg" alt="" class="img-responsive zoom-img">
					</a>
				</div>
				<div class="col-md-3 gallery-grids">
					<a href="static/images/n1.jpg" class="gallery-box" data-lightbox="example-set" data-title="">
						<img src="static/images/n1.jpg" alt="" class="img-responsive zoom-img" height="30px">
					</a>
				</div>
				
				<div class="clearfix"> </div>	
			</div>
			<script src="static/js/lightbox-plus-jquery.min.js"></script>
		</div>
</div>
<!--//gallery-->

<!-- stats -->
	<div class="stats" id="stats">
		<div class="container">
		<h3 class="text-center">Stats</h3>
			<div class="w3layouts_skills_grids">
				<div class="col-md-3 w3ls_about_guage">
					<canvas id="gauge1" width="200" height="100"></canvas>
					<h4>Projects Done</h4>
				</div>
				<div class="col-md-3 w3ls_about_guage">
					<canvas id="gauge2" width="200" height="100"></canvas>
					<h4>Web Apps</h4>
				</div>
				<div class="col-md-3 w3ls_about_guage">
					<canvas id="gauge3" width="200" height="100"></canvas>
					<h4>Clients Success</h4>
				</div>
				<div class="col-md-3 w3ls_about_guage">
					<canvas id="gauge4" width="200" height="100"></canvas>
					<h4>Sales</h4>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- //stats -->

<!-- My experience -->
<section class="experience" id="experience">
	<div class="container">
		<h3 class="text-center">Work Experience</h3>
		<div class="col-md-5 exp_left">
			<img src="static/images/ph.jpg" alt="" />
		</div>
		<div class="col-md-7 exp_right">
			<h3>My Experience</h3>
			<p>The following are just a few of my personal work experience.
            I have worked on many other projects which I couldn't state them here.</p>
			<div class="exp_grids">
				<div class="exp_grid1">
					<h4>Hardware and System Software Technician</h4>
					<h5>2016-2017</h5>
					<p>I have solved complicated problems clients faced with the windows software environment, such as ( Password hacking, blue-screen etc.. ) including desktop and laptop repair </p>
					<span class="fa fa-circle"></span>
				</div>
				<div class="exp_grid1">
					<h4>Network Technician</h4>
					<h5>2018</h5>
					<p>I have participated in a network installation for the INKOOM HOSPITAL administration block with the wyllnet technologies company. also 
                     I have worked with the University of Ghana I.T Department as network team member.</p>
					<span class="fa fa-circle"></span>
				</div>
				<div class="exp_grid1">
					<h4>Freelancer Web Developer</h4>
					<h5>2018</h5>
					<p>I have designed websites for individuals and companies on-line and fortunately you are current viewing my work. The following are my programming languages I often use :
					(Python Flask, HTML5/CSS and JavaScript)</p>
					<span class="fa fa-circle"></span>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div> 
</section> 
<!-- //My experience -->

<!-- comments -->
<section class="comment-w3l" id="contact">
	<div class="container">
		<h3 class="text-center">Contact Me</h3>
		<div class="col-lg-6 col-md-6 col-sm-6" >
                <img src="static/images/team.gif">
				<a href="mailto:name@example.com"><button type="submit" class="btn btn-primary">Send Me A MAIL</button></a>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6 comment-agile2" data-aos="flip-right">
			<h4>Contact me for more details</h4>
			<p class="comment-w3">Start conversation with me via my phone numbers which are also registered on whatsup, E-MAIL or my Social media pages @achphix</p>
			
			<h5><span class="fa fa-phone"></span> (+233)27-279-0174 / (+233)20-081-2752</h5>
			<h5><span class="fa fa-envelope"></span> <a href="mailto:name@example.com"> gphileto@gmail.com</a></h5>
			<h5><span class="fa fa-map-marker"></span> Accra - Dansoman Oblogo street</h5>
			<h5><span class="fa fa-twitter"></span> twitter/@achphix</h5>
			<h5><span class="fa fa-instagram"></span> instagram/@achphix</h5>
			<h5><span class="fa fa-facebook"></span> facebook/@achphix</h5>
		</div>
		<div class="clearfix"></div>
	</div>
</section>
<!-- /comments -->
<div class="w3l_footer">
		<div class="container">
			<h3>Thanks for visiting my site</h3>
				<div class="connect-social">  
					<ul>
						<li class="connect">Connect me with : </li>
						<li><a href="https://facebook.com" class="social-button facebook"><i class="fa fa-facebook"></i></a></li>
						<li><a href="https://twitter.com" class="social-button twitter"><i class="fa fa-twitter"></i></a></li>
						<li><a href="https://plus.google.com" class="social-button google"><i class="fa fa-google-plus"></i></a></li>
					</ul>
				</div>
			<p class="agileits_w3ls_copyright">© Personal website. All rights reserved | Design by <a href="#">AchPhix.</a></p>
			<div class="arrow-container animated fadeInDown">
				<a href="#home" class="arrow-2 scroll">
					<i class="fa fa-angle-up"></i>
				</a>
				<div class="arrow-1 animated hinge infinite zoomIn"></div>
			</div>
		</div>
	</div>
	<!--//footer -->


<!-- Default-JavaScript-File -->
	<script type="text/javascript" src="static/js/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="static/js/bootstrap.min.js"></script>
<!-- //Default-JavaScript-File -->

<!-- gauge-meter -->
	<script src="static/js/jquery.gauge.js"></script>
	<script>
		$(document).ready(function (){
			$("#gauge1").gauge(90,{color: "#ff4f81",unit: " %",type: "halfcircle"});
			$("#gauge2").gauge(70, {color: "#2dde98", unit: " %",type: "halfcircle"});
			$("#gauge3").gauge(75, {color: "#00aeff",unit: " %",type: "halfcircle"});
			$("#gauge4").gauge(40, {color: "#ffb900",unit: " %",type: "halfcircle"});
		});
	</script>
<!-- //gauge-meter -->

<!--menu script-->
<script type="text/javascript" src="static/js/modernizr-2.6.2.min.js"></script>
		<script src="static/js/jquery.fatNav.js"></script>
		<script>
		(function() {
			
			$.fatNav();
			
		}());
		</script>

<!--Start-slider-script-->
	<script defer src="static/js/jquery.flexslider.js"></script>
		<script type="text/javascript">
		
		$(window).load(function(){
		  $('.flexslider').flexslider({
			animation: "slide",
			start: function(slider){
			  $('body').removeClass('loading');
			}
		  });
		});
	  </script>
<!--End-slider-script-->

<!-- smooth scrolling -->
	<script src="static/js/SmoothScroll.min.js"></script>
<!-- smooth scrolling -->

<!-- scrolling script -->
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script> 
<!-- //scrolling script -->
	
	
{% endblock %}